body {
	margin: 0;
	overflow: hidden;
}

#messages{
	position:absolute; 
	left:300px; 
	top:10px;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	background: #889ccf;
	margin: 0 0 25px;
	overflow: hidden;
	padding: 20px;
	border-radius: 35px 0px 35px 0px;
	-moz-border-radius: 35px 0px 35px 0px;
	-webkit-border-radius: 35px 0px 35px 0px;
	border: 2px solid #5878ca;
}

#transformPawn{
	display: none;
	position: fixed;
	z-index: 1;
	left: 25%;
	top: 15%;
	width: 50%;
	height: 70%;
	overflow: auto;
	background-color: rgba(183, 160, 233, 0.8);
}

.transformOptions{
	position: relative; 
	left:15%; 
	top:10px;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	background: #889ccf;
	margin: 1%;
	overflow: hidden;
	padding: 20px;
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
	border: 2px solid #5878ca;
	height: 20%;
	width: 60%;
	float: left;
}

.button{
	position:absolute; 
	left:100px; 
	top:10px;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	background: #889ccf;
	margin: 0 0 25px;
	overflow: hidden;
	padding: 20px;
	border-radius: 35px 0px 35px 0px;
	-moz-border-radius: 35px 0px 35px 0px;
	-webkit-border-radius: 35px 0px 35px 0px;
	border: 2px solid #5878ca;
}